@media only screen and (max-width: 1440px){
  .container{    
    width: 100%;
    margin: 0 auto;
  } 
}

@media only screen and (max-width: 1250px){
  .videBlock_wrap{  
    margin: 60px 3% 0px;
  }
  .lastNews{
    height: 1368px;
  }
  .lastNews__content{    
    grid-template-columns: repeat(3, 1fr);    
    margin-top: 89px;
  } 
  .lastNews__blog5{
    position: relative;
    top: -90px;  
  }
  .lastNews__blog6{
    top: -15px;
  }
  .lastNews__blog7{
    top: -130px;
  }
  .lastNews__blog8{
    top: -225px;
  }
  .footer__widget{
    margin-right: 100px;
  }
}

@media only screen and (max-width: 1024px){
  /* intro */
  .intro,.intro__background{
    height: 623px;
  }  
  .intro__title{  
    width: 588.95px;
    height: 180px;
    margin-top: 101px;
    font-size: 84px;
    line-height: 84px;  
    text-align: center;
    letter-spacing: 2px;
  }
  .intro__text{
    width: 587px;
    height: 44px;
    margin: 29px 0px 12px 0px;
    font-size: 18px;
    line-height: 20px;    
  }
  .owl-dots{
    top: 528px;
  }
  .owl-dot{
    background-color: #2B4074 !important;
  }
  .owl-dot.active{    
    border: 1px solid #476E4D !important;
  }

  /* promo */
  .promo{
    height: 160px;      
  }
  .promo_wraper{    
    height: 160px;    
  }
  .promo__text{  
    width: 45%;  
  }
  .promo__text h3{  
    height: 28px;
    font-size: 18px;
    line-height: 18px;  
  }
  .promo__text p {   
    margin-top: 10px;
    font-size: 14px;
    line-height: 16px;
  }

  /* services */
  .services{
    height: 912px;      
    flex-direction: column;  
  }
  .services__content{ 
    width: 100%;
    margin-left: 44px; 
    display: flex;
    flex-direction: column;    
  }
  .services__content h2{
    width: 158px;
    height: 52px;     
    margin: 52px 0px 31px -44px;    
    align-self: center;
  } 
  .services__content h2+p {
    width: 100%;
    height: 30px;
    margin-bottom: 38px;
  }
  .services__content div+p{
    width: 608px;
    height: 55px;
    margin: 34px 0px 32px 0px;
  }
  .services__items{  
    width: 100%;  
  }

  /* portfolio */
  .portfolio{  
    height: 1033px;
    background: linear-gradient(180deg, #2B4074 0%, rgba(43, 64, 116, 0) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .portfolio__content{
    width: 63%;
    height: 789px;
    margin-top: 67px;
    flex-wrap: wrap;
  }
  .portfolio__project{
    width: 45%; 
  }
  .portfolio__info{
    height: 55%;
    top:17%;
  }

  /* videoBlock */
  .videoBlock{
    height: 540px;
  }
  .videBlock_wrap{
    margin: 80px 0px 0px 4.5%;
  }
  .videoBlock__video{
    width: 395px;
    height: 380px;  
    margin-right: 60px;
  }
  .videoBlock__content{
    height: 380px;
  }
  .videoBlock__title{ 
    margin-bottom: 15px;
    height: 47px;
  }
  .videoBlock__paragraf {
    width: 90%;
    margin-top: 19px;
  }
  .videoBlock__paragraf br{
    display: none;
  }
  .videoBlock__button button{
    margin-top: 19px; 
  }

  /* lastNews */
  .lastNews__title{
    width: 411px;
    height: 52px;
    margin: 65px 0px 29px;
  }
  .lastNews__content{  
    margin-top: 89px;
  }

  /* testimonial */
  .testimonial__quote{
    margin: 100px 0px 44px 0px;
  }
  .testimonial__text{
    width: 1024px;
    height: 79px;
    font-size: 32px;
    line-height: 37px;  
  }
  .testimonial__author{
    font-family: Dosis;
    font-size: 20px;
  }

  /* footer */
  .footer{  
    height: 632px;
  }
  .footer__text{  
    width: 751px;
    min-height: 62px;
    padding: 158px 0px 0px 43px;
    font-size: 36px;
  }
  .footer__social{
    display: flex;
    margin-left: 43px;
    margin-right: 42px;
  }
  .footer__icon{
    width: 237px;  
  }
  .footer__widgets{
    margin: 57px 142px 0px 51px;  
  }
  .footer__widget{
    width: 125px;
    margin-right: 117px;
  }
  .footer__widgets h3{
    font-size: 18px;
    line-height: 21px;
  }
  .footer__widgets a, .footer__widgets p{
    width: 177px;
    font-size: 16px;    
  }
}

@media only screen and (max-width: 930px){
  .lastNews{
    height: 1745px;
  }
  .lastNews__title{
    width: 320px;
    height: 52px;
    margin: 40px 0px 30px;
    font-size: 36px;
    line-height: 38px;
  }
  .lastNews__content{  
    margin-top: 50px;
  }
  .lastNews__content{ 
    height: 1500px;   
    grid-template-columns: repeat(2, 1fr);   
  }
  .lastNews__blog3{
    position: relative;
    top: -40px;
  } 
  .lastNews__blog4{
    position: relative;
    top: -130px;
  } 
  .lastNews__blog5{
    order: 6;
    position: relative;
    top: -345px;  
  }
  .lastNews__blog6{
    order: 5;
    top: -80px;
  }
  .lastNews__blog7{
    order: 7;
    grid-column: 2;
    top: -525px;
  }
  .lastNews__blog8{
    order: 8;
    grid-column: 2;
    top: -570px;
  }
  .footer__widget{
    margin-right: 90px;
  }
}

@media only screen and (max-width: 860px){  
  /* videoBlock */
  .videBlock_wrap{     
    grid-template-columns: 45% 55%;  
    margin: 40px 40px 0px;
  }
  .videoBlock__video{
    width: 310px;
    height: 320px; 
    margin-right: 34px;
  }
  .videoBlock__content{
    height: 310px;
    display: block;  
  }  
  .videoBlock__button button{
    margin-top: 80px;
    position: absolute;
    left: 30%;
  }
  .footer__widget{
    margin-right: 70px;
  }
}

@media only screen and (max-width: 768px){
  /* intro */
  .intro,.intro__background{
    height: 465px;
  }
  .intro__title{  
    width: 588.95px;
    height: 115px;
    margin-top: 87px;
    font-size: 60px;
    line-height: 60px;       
  }
  .intro__text{
    width: 587px;
    height: 38px;
    margin: 31px 0px 32px 0px;    
  }
  .owl-dots{
    top: 403px;
  }

  /* promo */
  .promo{
    height: 187px;      
  }
  .promo_wraper{    
    height: 187px;    
  }
  .promo__text{  
    width: 60%;  
  }
  .promo__text h3{
     
    height: 24px;
    font-size: 24px;
    line-height: 24px;  
  }
  .promo__text p {     
    height: 63px;
    width: 75%;
    font-size: 16px;
    line-height: 18px;
  }

   /* services */
   .services{
    min-height: 1655px;    
  }
  .services__content h2{     
    margin: 52px 0px 61px -44px;
  } 
  .services__content h2+p {    
    height: 27px;
    line-height: 24px;
    margin-bottom: 32.1px;    
  }
  .services__content div+p{
    width: 673px;
    height: 48px;
    margin: 31.9px 0px 27.01px 0px;
  }
  .services__item{
    width: 50%;
    height: 329px;
  }

  /* portfolio */
  .portfolio__content{
    width: 85%;
  }

  /* videoBlock */
  .videoBlock{
    min-height: 479px;
    position: relative;  
  }
  .videBlock_wrap{     
    grid-template-columns: 40% 60%;  
    margin: 40px 40px 0px;
  }
  .videoBlock__video{
    width: 240px;
    height: 227px; 
    margin-right: 34px;
  }
  .videoBlock__content{
    height: 310px;
    display: block;  
  }
  .videoBlock__title{ 
    margin-bottom: 20px;
    height: 40px;  
    font-size: 36px;
    line-height: 38px; 
  }
  .videoBlock__paragraf {
    width: 407px;
    height: 235px;
    margin-top: 7px;
    line-height: 18px;  
  }
  .videoBlock__paragraf br{
    display: block;
  }
  .videoBlock__button button{
    margin-top: 21px;
    position: absolute;
    left: 30%;
  }

  /* testimonial */
  .testimonial__quote{
    margin: 60px 0px 40px 0px;
  }
  .testimonial__text{
    width: 687px;
    height: 138px;
    text-align: center;
    margin-bottom: 40px;
  } 
  .testimonial__author{
    font-family: Roboto Condensed;
    line-height: 23px;
  }
  .testiminial__pagination{
    margin-top: 40px;  
  }

  /* footer */
  .footer__text{  
    width: 690px;  
    padding: 114px 0px 0px 40px;   
  }
  .footer__social{  
    margin-left: 45px;
    margin-right: 35px;
  }
  .footer__icon{
    width: 174px; 
    height: 63px; 
  }
  .footer__widgets{
    width: 100%;  
    margin: 39px 232px 0px 47px;
    flex-wrap: wrap;  
  }
  .footer__widgets .footer__widget:nth-child(2n){
    margin-right: 0px;    
  }
  .footer__widget{
    width: 177px;
    margin-right: 180px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 715px){  
  .intro__text{
    display: none;
  }
  .intro__title{
    margin: 50px 0px 45px;
  }
  .promo__text h3 {     
    height: 48px;
  }
  .services__content h2+p{    
   width: 600px;    
  } 
  .services__content div+p{
    width: 600px;  
  }
  .videBlock_wrap{    
    grid-template-columns: 45% 55%;   
  }
  .footer__text{
    width: 630px;
  }
}

@media only screen and (max-width: 640px){
  /* intro */
  .intro,.intro__background{
    height: 386px;
  }
  .intro__title{  
    width: 359.58px;
    height: 128px;   
    font-size: 60px;
    line-height: 60px;  
    text-align: center;    
  }  
 .owl-dots{
   top: 326px;
 }

  /* promo */
  .promo{
    height: 254px;          
  }
  .promo_wraper{    
    height: 254px; 
    width: 100%;
    flex-direction: column;     
    align-items: center;  
  }
  .promo__text{  
    width: 580px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: center;
    margin-top: 40px;    
  }
  .promo__text h3{  
    height: 32px;
    font-size: 24px;
    line-height: 24px;  
  }
  .promo__text p {  
    height: 42px;
    width: 500px;
    font-size: 16px;
    line-height: 18px;    
  }
  .promo__button{
    margin-bottom: 40px;
  }

   /* services */
  .services{
    height: 1551px;
  } 
  .services__content{
    margin-left: 0px;
  }
  .services__content h2{    
    margin: 24px 0px 30px;    
  } 
  .services__content h2+p { 
    width: 90%;
    height: 60px;  
    margin: 0px auto 30px;
    text-align: center;
  }
  .services__content div{
    margin: auto;
  }
  .services__content div+p{
    width: 100%;
    margin: 30.97px auto 40.04px;
    text-align: center;
  }
  .services__item{
    width: 50%;
    height: 330px;
  }

  /* portfolio */
  .portfolio{
    height: 2291px;
  }
  .portfolio__title h2{
    margin: 40px 0px 20px 0px;
  }
  .portfolio__content{
    margin: 29px 0px 0px 0px;
    width: 100%; 
    height: 2142px;   
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: normal;
  }
  .portfolio__project{ 
    width: 80%;   
    height: 25%;
    margin: 0px 0px 0px 0px;
  }
  .portfolio__img{
    height: 85%;
  }
  .portfolio__project p{
    margin-top: 8.3px;
  }
  .portfolio__info{
    height: 80%;
    top: 8%;
  }

  /* videoBlock */
  .videoBlock{
    min-height: 1007px;
  }
  .videBlock_wrap{
    width: inherit;
    height: 100%; 
    margin: 86px auto 0px; 
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .videoBlock__video{
    width: 80%;
    height: 478px;  
    margin-right: 0px;
  }
  .videoBlock__content{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .videoBlock__title{ 
    margin: 46px 0px 20px;
    height: 40px;   
    font-size: 36px;
    line-height: 38px; 
  }
  .videoBlock__paragraf {
    width: 100%;  
    height: 160px;
    margin-top: 40px; 
    font-size: 16px;
    line-height: 18px;
    text-align: center;
  }
  .videoBlock__button button{
    margin-top: 56px;
    position: static;
  }
  /* lastNews */
  .lastNews__title{
    width: 560px;;
    margin: 40px 0px 20px;
    font-size: 48px;
    line-height: 38px;
    text-align: center;
  }
  .lastNews__content{  
    margin-top: 60px;
  }

  /* testimonial */
  .testimonial__text{
    width: 552px; 
  } 

   /* footer */
   .footer__text{  
    width: 547px;
    padding: 80px 0px 0px 53px;
    font-size: 24px;
    line-height: 26px;   
  }
  .footer__social{  
    margin-left: 40px;
    margin-right: 40px;
  }
  .footer__icon{
    width: 141px; 
    height: 52px; 
  }
  .footer__widgets{
    margin: 40px 112px 0px 37px;  
  }
}

@media only screen and (max-width: 590px){
  .lastNews {
    height: 2896px;
  }
  .lastNews__title{
    width: 284px;
    height: 32px;
    margin: 40px 0px 20px;
    font-size: 24px;
    line-height: 38px;
  }
  .lastNews__title+div{
    width: 50px;
  }
  .lastNews__content{  
    margin-top: 40px;
  }
  .lastNews__content{ 
    height: 1500px;   
    display: flex;
    flex-direction: column;   
  }
  .lastNews__content div{
    margin-bottom: 7px;
  }
  .lastNews__blog1, .lastNews__blog2, .lastNews__blog3, .lastNews__blog4, .lastNews__blog5, .lastNews__blog6,
   .lastNews__blog7, .lastNews__blog8{
    position: static;    
  }
  .lastNews__blog1{
    order: 1;  
  }
  .lastNews__blog2{
    order: 2;  
  }
  .lastNews__blog3{
    order: 3;  
  }
  .lastNews__blog4{
    order: 4;  
  }
  .lastNews__blog5{
    order: 5;  
  }
  .lastNews__blog6{
    order: 6;    
  }
  .lastNews__blog7{
    order: 7;    
  }
  .lastNews__blog8{
    order: 8;    
  }

   /* testimonial */
  .testimonial__text{
    width: 275px;
    height: 210px;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
  }
  .testimonial__author{
    font-size: 20px;
    line-height: 23px;
  }

  .footer__widgets .footer__widget:nth-child(2n+1){
    margin-right: 100px;
  }
}

@media only screen and (max-width: 480px){ 
  /* header  */
  .header{
    height: 80px;     
  }
  .header .header_wraper{
    height: 80px;   
  }  
  .header .header_wraper .header__menu{  
    margin: 20px 0px;  
  }
  /* intro */
  .intro,.intro__background{
    height: 193px;
  }
  .intro__title{  
    width: 320.29px;
    height: 64px;
    margin: 36px 0px 63px 0px;
    font-size: 28px;
    line-height: 28px;  
    text-align: center;    
  }
  .owl-dots{
    top: 163px;
  }
  .intro__arrow, .intro__button, .intro__text{
    display: none;
  }

  /* promo */
  .promo{
    height: 301px;          
  }
  .promo_wraper{    
    height: 301px;
  }
  .promo__text{  
    width: 265px;    
  }
  .promo__text h3{  
    height: 48px;  
  }
  .promo__text p {  
    width: 249px;
    height: 73px;    
  }
  .promo__button{
    margin-bottom: 40px;
  }

   /* services */
   .services{
    height: 2799px;
  }
  .services__content h2{
    width: 280px;
    height: 32px;    
    margin: 25px 0px 20px;
    text-align: center;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    order: 0;    
  } 
  .services__content div{
    margin: auto;
    order: 1;
  }
  .services__content h2+p { 
    width: 90%;
    height: 60px;  
    margin: 21.1px auto 20.78px;
    font-size: 20px;
    text-align: center;
    order: 2;
  }
  .services__content div+p{
    width: 58%;
    margin: 0px auto 40.04px;
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    order: 3;
  }
  .services__item{
    width: 100%;
    height: 310.21px;
  }

   /* portfolio */
   .portfolio{
    height: auto;
  }

  /* videoBlock */
  .videoBlock{
    min-height: 844px;
  }
  .videBlock_wrap{     
    margin: 40px auto 0px;
  }
  .videoBlock__video{
    width: 80%;
    height: 243.88px;    
  } 
  .videoBlock__title{ 
    margin: 43px 0px 20px;
    height: 32px;   
    font-size: 24px;
  }
  .videoBlock__title+div{
    width: 45px;    
  }
  .videoBlock__paragraf {
    width: 280px;
    height: 270px;
    margin-top: 23px;
  }
  .videoBlock__button button{
    margin-top: 84px;    
  }

  /* footer */
  .footer{
    height: 954px;
  }
  .footer__text{
    width: 274px;
    height: 84px;  
    padding: 85px 0px 43px 0px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
  }
  .footer__social{
    margin: 0px 0px 0px 0px;
    flex-direction: column;
    align-items: center;
  }
  .footer__icon{
    width: 12px;
    min-height: 24px;  
    border: none;
    display: block;
  }
  .footer__icon:hover{
    border: none;
    width: 12px;
    min-height: 24px;
  }
  .footer__widgets{
    margin: 46px 0px 0px 0px;    
    flex-direction: column;
    align-items: center;  
  }
  .footer__widgets h3, .footer__widgets a, .footer__widgets p{
    text-align: center;
  }
  .footer__widget, .footer__widgets .footer__widget:nth-child(2n), .footer__widgets .footer__widget:nth-child(2n+1){
    margin-left: 0px;
    margin-right: 0px;
  }
  .footer__moveToUp{
    width: 100%;
    height: 142px;
    background: #F9F6E5;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer__moveToUp a{
    margin: 0px 0px 0px 0px;
    display: flex;
    flex-direction: column;   
    align-items: center;
  }
  .footer__moveToUp a span{
    margin-bottom: 22px;
  }
}